*{
    padding: 0;
    margin: 0;
}

body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    
}
.menu ul
{
    display: inline-flex;
    list-style: none;
    color: cadetblue;
}

.menu ul li
{
    margin: 40px;
    padding: 15px;
}
.menu ul li a
{
    text-decoration: none;
    padding: 15px;
    color: cyan;
}
.menu ul li:hover
{
    background-color: black;
    color: white;
    transition: 2s ease-in-out;
}